# Rename NICs
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="04:7c:16:6d:bd:cf", ATTR{dev_id}=="0x0", ATTR{type}=="1", NAME="onboard"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="1c:34:da:55:77:04", ATTR{dev_id}=="0x0", ATTR{type}=="1", NAME="100g"
